#auth{
    padding: 1rem;
    width: 600px;
    margin: auto;
    height: 88vh;
    margin-top: 0.1rem;
    background-color: #fff;
}
#auth form input{
    display: block;
    width: 100%;
    padding: 0.5rem 0.2rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--textColor);
}

#auth form input:nth-child(3){
    margin-bottom: 3rem;
}

#auth form input:last-child{
    border: 1px solid var(--textColor);
    border-radius: 0.5rem;
    cursor: pointer;
    color: var(--bgColor);
    background-color: var(--textColor);
    transition: all 0.2s linear;
}
#auth form input:last-child:hover{
    color: var(--textColor);
    background-color: var(--bgColor);
}
#auth p{
    text-align: center;
}
#auth a{
    color: var(--textColor);
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    #auth{
        width: 95%;
    }
}